:global(#app) {
  .hero {
    &_container {
      width: 100vw;
      padding: 5rem;
      background: #6c66e5;
    }
    &_header {
      width: fit-content;
      color: #fff;
      cursor: pointer;
    }
    &_cart {
      width: fit-content;
    }
  }
}
